#back {
  background-color: rgb(247, 231, 202);
}

.large {
  font-size: large;
}

#right {
  float: right;
  padding: 5px;
}

.center {
  font-family: 'Dancing Script';
  font-size: 35px;
  width: 100%;
	height: 100%;
	color: black;
	text-shadow: 1px 1px 1px #333;
  text-align: center;
}

.Imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%
}

#indent {
   text-indent: 10px;
}

#list {
  display: inline-block;
}

#padding {
  margin: 1% 0;
}

#margin {
  margin: 10px 10px 10px 10px;
}

#header {
  background-image: url(Boulder.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
}