.large {
  font-size: large;
}
.center {
  text-align: center;
}

.Imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%
}

#indent {
   text-indent: 10px;
}

#first {
  font-size: 40px;
}

#list {
  display: inline-block;
}
